body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* header */

.header {
    width: 100%;
}

.header-nav {
    width: 635px;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 32px 0;
    list-style: none;
    gap: 72px;
}

.nav-menu-item {
    text-align: center;
}

.nav-menu-link {
    color: #000;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 135%; /* 24.3px */
}

/* end header */

/* image block */

.image-container {
    display: inline-flex;
    width: 100%;
    background-color: #00BDC9;
}

.main-image {
    display: inline-flex;
    margin: 92px auto;
}

/* end image block */

/* content block */

.content-div {
    width: 856px;
    margin-left: auto;
    margin-right: auto;
    padding: 88px 0;
}

.text-heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%; /* 64.8px */
}

.text-div {
    display: block;
    padding: 40px 0;
}

.main-text {
    margin-top: 0;
    margin-bottom: 0;
    color: #161616;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; /* 31.5px */
}

.text-color {
    color: #04959E;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.main-list {
    margin-top: 24px;
    margin-left: -14px;
}

.main-list-item {
    color: #161616;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 150%; /* 27px */
}

.button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-button {
    background: #04959E;
    border: none;
    padding: 10px 24px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 135%; /* 24.3px */

}

/* end content block */

.footer {
    width: 100%;
    border-top: 1px solid #000; /* whichever color you prefer */
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 856px;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.copy-text {
    color: #161616;
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 150%; /* 27px */
}